#sub{
    width: 100%;
    background-color: #223A5E !important;
    color: aliceblue !important;
    margin-bottom:0px !important;
}
#sub2{
    background-color: #223A5E !important;
    color: aliceblue !important;
  
}
#outlined-name{
    margin-bottom:0px !important;
}

