.divs {
    transition: background-color .2s !important;
    text-decoration: none !important;
    color: black !important
  }
  
.divs:hover {
    background-color: #2A4B7C !important;
    color: white !important;
    cursor: pointer;
  }
 
  .ml{
    margin-left: 10px
  }

  .p{
    padding: 20px !important
  }
  .text{
    font-size: 20px;

  }
  .m{
    margin: 15px
  }